<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
</head>
<body>
	<h1>Today's Weather Forecast</h1>
	<br>
	<table>
		<tr>
			<th>Time</th>
			<th>Summary</th>
			<th>Temperature</th>
			<th>Humidity</th>
		</tr>
		<tr th:each="hourlyForecast : ${forecast.hourly.data}">
			<td th:text="${#dates.format(new java.util.Date(hourlyForecast.timestamp * 1000))}"></td>
		    <td th:text="${hourlyForecast.summary}">Summary</td>
		    <td th:text="${hourlyForecast.temperature}">Temperature</td>
		    <td th:text="${hourlyForecast.humidity}">Humidity</td>
		</tr>
	</table>
</body>
